.MainContainer {
  width: 100%;
  height: 100%;
  margin: 104px auto;
  .ContentContainer {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 760px) {
  .MainContainer {
    .ContentContainer {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 960px) {
  .MainContainer {
    .ContentContainer {
      .SidebarContainer {
        width: 150px;
        height: 100%;
        position: sticky;
        top: 104px;
        z-index: 996;
      }
      .CenterContainer {
        margin: 0 0.8rem;
      }
    }
  }
}
